@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Borel&family=Protest+Riot&family=Sedgwick+Ave+Display&display=swap');

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin: auto;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  width: auto;
  height: auto;
  padding-right: 1000px;
  padding-left: 1000px;
  padding-top: 50px;
  padding-bottom: 20px;
  animation: gradientTransition .5s infinite alternate; /* Adjust animation duration as needed */
}

@keyframes gradientTransition {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}


.card {
  border: 5px solid #000000;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(-90deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  border-radius: 30px;
  width: 300px;
  transition: background-image 0.3s ease-in-out; /* Adjust transition duration as needed */
}

.card:hover {
  background-image: linear-gradient(-225deg, #9EFBD3 40%, #57E9F2 48%, #45D4FB 100%); /* Change colors to desired values */
  transform: scale(1.25)
}

  
  h2 {
    margin: 0;
  }
  
  .icon-img {
    width: 100px; 
    height: auto; 
  }
  
  .title {
    font-size: 75px;
    text-align: center;
    border-radius: 30px;
    width: 200px;  
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:  #30D2BE; /* Text color */
    -webkit-text-stroke: 2px black; /* Black border around each letter */
  }
  

  .title-con {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 12vh; /* Set the height of the container to full viewport height */
    background-image: linear-gradient(90deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    padding-top: 10px;
  }
  

 